<!-- ng-container admin -->
<div class="titulo">
  <h2>{{ !idTurma ? "Cadastro" : "Edição" }} de Turma</h2>
  <div class="botoes">
    <button
      mat-flat-button
      type="button"
      [disabled]="!idTurma"
      (click)="habilitarEdicao()"
    >
      <mat-icon>edit</mat-icon>
      Editar
    </button>
    <button
      mat-flat-button
      type="button"
      [disabled]="!idTurma"
      (click)="excluirTurma(formTurma.value)"
    >
      <mat-icon>delete</mat-icon>
      Excluir
    </button>
  </div>
</div>
<form [formGroup]="formTurma" (ngSubmit)="submitForm()">
  <div>
    <label for="nome">Nome da Turma</label>
    <input type="text" name="nome" id="nome" formControlName="nomeTurma" />
  </div>

  <div>
    <label for="dataInicio">Data de Início</label>
    <input
      type="date"
      name="dataInicio"
      id="dataInicio"
      formControlName="dataInicio"
    />
  </div>

  <div>
    <label for="dataTermino">Data de Término</label>
    <input
      type="date"
      name="dataTermino"
      id="dataTermino"
      formControlName="dataTermino"
    />
  </div>

  <div>
    <label for="horario">Horário</label>
    <input type="time" name="horario" id="horario" formControlName="horario" />
  </div>

  <div>
    <label for="professor">Professor</label>
    <ng-select [(ngModel)]="professor" formControlName="professor">
      @for (professor of listaProfessores; track professor.id) {
      <ng-option [value]="professor.id">{{ professor.nomeCompleto }}</ng-option>
      }
    </ng-select>
  </div>

  <div class="botoes">
    <button mat-flat-button type="button" (click)="cancelar()">
      <mat-icon>close</mat-icon>Cancelar
    </button>
    <button mat-flat-button type="submit" [disabled]="!formTurma.valid">
      <mat-icon>check</mat-icon>
      {{ !idTurma ? "Salvar Turma" : "Salvar Alterações" }}
    </button>
  </div>
</form>
