<!-- ng-container aluno -->
<div class="notas-aluno">
  <section>
    <h2>Informações do Aluno</h2>
    <ul>
      <li>
        <span>Nome:</span>
        <strong>Scheila Stihler</strong>
      </li>
      <li>
        <span>CPF:</span>
        <strong>000.000.000-00</strong>
      </li>
      <li>
        <span>Data de Nascimento:</span>
        <strong>00/00/0000</strong>
      </li>
      <li>
        <span>Email:</span>
        <strong>scheila-email.com</strong>
      </li>
      <li>
        <span>Telefone:</span>
        <strong>(00) 00000-0000</strong>
      </li>
    </ul>
  </section>

  <section>
    <h2>Informações da Turma</h2>
    <ul>
      <li>
        <span>Nome da Turma:</span>
        <strong>Education</strong>
      </li>
      <li>
        <span>Professor:</span>
        <strong>Gabriel Augustin</strong>
      </li>
      <li>
        <span>Período:</span>
        <strong>00/00/0000 a 00/00/0000</strong>
      </li>
      <li>
        <span>Horário:</span>
        <strong>00:00h</strong>
      </li>
    </ul>
  </section>

  <section>
    <h2>Histórico de Notas</h2>
    <table>
      <thead>
        <tr>
          <th>Código</th>
          <th>Nome Avaliação</th>
          <th>Data</th>
          <th>Matéria</th>
          <th>Nota</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>00</td>
          <td>Teste AV1</td>
          <td>00/00/0000</td>
          <td>Português</td>
          <td><span>00.00</span></td>
        </tr>
        <tr>
          <td>00</td>
          <td>Teste AV2</td>
          <td>00/00/0000</td>
          <td>Matemática</td>
          <td><span>00.00</span></td>
        </tr>
        <tr>
          <td>00</td>
          <td>Teste AV3</td>
          <td>00/00/0000</td>
          <td>Ciências</td>
          <td><span>00.00</span></td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
