<div class="notas-aluno">
  <section>
    <h2>Informações do Aluno</h2>
    <ul>
      <li>
        <span>Nome:</span>
        <strong>{{ alunoAtivo.nomeCompleto }}</strong>
      </li>
      <li>
        <span>CPF:</span>
        <strong>{{ alunoAtivo.cpf }}</strong>
      </li>
      <li>
        <span>Data de Nascimento:</span>
        <strong>{{ alunoAtivo.nascimento }}</strong>
      </li>
      <li>
        <span>Email:</span>
        <strong>{{ alunoAtivo.email }}</strong>
      </li>
      <li>
        <span>Telefone:</span>
        <strong>{{ alunoAtivo.telefone }}</strong>
      </li>
    </ul>
  </section>

  <section>
    <h2>Informações da Turma</h2>
    @for (turma of listaTurmas; track turma.id) {
    <ul>
      <li>
        <span>Nome da Turma:</span>
        <strong>{{ turma.nomeTurma }}</strong>
      </li>
      <li>
        <span>Professor:</span>
        <strong>{{ getNomeProfessorTurma(turma.professor) }}</strong>
      </li>
      <li>
        <span>Período:</span>
        <strong>{{ turma.dataInicio }} a {{ turma.dataTermino }}</strong>
      </li>
      <li>
        <span>Horário:</span>
        <strong>{{ turma.horario }}h</strong>
      </li>
    </ul>
    }
  </section>

  <section>
    <h2>Histórico de Notas</h2>
    <table>
      <thead>
        <tr>
          <th>Código</th>
          <th>Nome Avaliação</th>
          <th>Data</th>
          <th>Matéria</th>
          <th>Nota</th>
        </tr>
      </thead>
      <tbody>
        @for (nota of listaNotas; track nota.id) {
        <tr>
          <td>{{ nota.id }}</td>
          <td>{{ nota.avaliacao }}</td>
          <td>{{ nota.data }}</td>
          <td>{{ nota.materia }}</td>
          <td>{{ nota.nota | number : "1.2-2" }}</td>
        </tr>
        }
      </tbody>
    </table>
  </section>
</div>
