<div class="lista-notas">
  <h2>Listagem de Notas</h2>
  <section class="aluno">
    <h3>Informações do Aluno</h3>
    <div>
      <img src="../../../assets/profile.png" [alt]="alunoAtivo.nomeCompleto" />
      <ul>
        <li>
          <span>Nome:</span>
          <strong>{{ alunoAtivo.nomeCompleto }}</strong>
        </li>
        <li>
          <span>CPF:</span>
          <strong>{{ alunoAtivo.cpf }}</strong>
        </li>
        <li>
          <span>Nascimento:</span>
          <strong>{{ alunoAtivo.nascimento | date : "dd/MM/yyyy" }}</strong>
        </li>
        <li>
          <span>Email:</span>
          <strong>{{ alunoAtivo.email }}</strong>
        </li>
        <li>
          <span>Telefone:</span>
          <strong>{{ alunoAtivo.telefone }}</strong>
        </li>
      </ul>
    </div>
  </section>

  <section class="turma">
    <h3>Informações da Turma</h3>
    <div class="cards">
      @for (turma of listaTurmas; track turma.id) {
      <ul>
        <li>
          <span>Turma:</span>
          <strong>{{ turma.nomeTurma }}</strong>
        </li>
        <li>
          <span>Docente:</span>
          <strong>{{ getNomeDocenteTurma(turma.docenteId) }}</strong>
        </li>
        <li>
          <span>Período:</span>
          <strong
            >{{ turma.dataInicio | date : "dd/MM/yyyy" }} a
            {{ turma.dataTermino | date : "dd/MM/yyyy" }}</strong
          >
        </li>
        <li>
          <span>Horário:</span>
          <strong>{{ turma.horario }}h</strong>
        </li>
      </ul>
      }
    </div>
  </section>

  <section class="notas">
    <h3>Histórico de Notas</h3>
    <table>
      <thead>
        <tr>
          <th>Código</th>
          <th>Nome Avaliação</th>
          <th>Data</th>
          <th>Matéria</th>
          <th>Nota</th>
        </tr>
      </thead>
      <tbody>
        @for (nota of listaNotas; track nota.id) {
        <tr>
          <td>{{ nota.id }}</td>
          <td>{{ nota.avaliacao }}</td>
          <td>{{ nota.data | date : "dd/MM/yyyy" }}</td>
          <td>{{ getNomeMaterias(nota.materia) }}</td>
          <td>{{ nota.nota | number : "1.2-2" }}</td>
        </tr>
        }
      </tbody>
    </table>
    @for (nota of listaNotas; track nota.id) {
    <ul>
      <li><span>Avaliação: </span>{{ nota.avaliacao }}</li>
      <li><span>Matéria: </span>{{ getNomeMaterias(nota.materia) }}</li>
      <li><span>Data: </span>{{ nota.data | date : "dd/MM/yyyy" }}</li>
      <li><span>Nota: </span>{{ nota.nota | number : "1.2-2" }}</li>
    </ul>
    }
  </section>
</div>
