.toolbar {
  background-color: #dce3e9;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  h1 {
    font-weight: bold;
  }
  .spacer {
    flex: 1;
  }
  .avatar {
    display: flex;
    align-items: center;
    gap: 8px;
    img {
      width: 48px;
      height: 48px;
      border-radius: 100%;
    }
    span {
      font-size: 16px;
    }
  }
}
