<h1>Login</h1>

<form [formGroup]="formLogin" (ngSubmit)="entrar()">
  <div>
    <label for="email">Email:</label>
    <input
      type="email"
      id="email"
      name="email"
      autocomplete="username"
      formControlName="email"
    />
    <span
      *ngIf="(formLogin.controls['email'].touched || formLogin.controls['email'].dirty) && formLogin.controls['email'].errors?.['required']"
      >Email obrigatório</span
    >
  </div>
  <div>
    <label for="senha">Senha:</label>
    <input
      type="password"
      id="senha"
      name="senha"
      autocomplete="current-password"
      formControlName="senha"
    />
    <span
      *ngIf="(formLogin.controls['senha'].touched || formLogin.controls['senha'].dirty) && formLogin.controls['senha'].errors?.['required']"
      >Senha obrigatória</span
    >
  </div>
  <div class="botoes">
    <button mat-flat-button type="button" (click)="criarConta()">
      <mat-icon>add</mat-icon>
      Criar conta
    </button>
    <button mat-flat-button type="button" (click)="recuperarSenha()">
      Esqueci a senha
    </button>
    <button mat-flat-button type="submit" [disabled]="!formLogin.valid">
      <mat-icon>login</mat-icon>
      Entrar
    </button>
  </div>
</form>
