<!-- ng-container admin -->
<div class="titulo">
  <h2>{{ !idNota ? "Cadastro" : "Edição" }} de Avaliação/Nota</h2>
  <div class="botoes">
    <button
      mat-flat-button
      type="button"
      [disabled]="!idNota"
      (click)="habilitarEdicao()"
    >
      <mat-icon>edit</mat-icon>
      Editar
    </button>
    <button
      mat-flat-button
      type="button"
      [disabled]="!idNota"
      (click)="excluirNota(formNota.value)"
    >
      <mat-icon>delete</mat-icon>
      Excluir
    </button>
  </div>
</div>
<form [formGroup]="formNota" (ngSubmit)="submitForm()">
  <div>
    <label for="professor">Professor</label>
    <ng-select [(ngModel)]="professor" formControlName="professor">
      @for (professor of listaProfessores; track professor.id) {
      <ng-option [value]="professor.id">{{ professor.nomeCompleto }}</ng-option>
      }
    </ng-select>
  </div>

  <div>
    <label for="materia">Nome da Materia</label>
    <ng-select [(ngModel)]="materia" formControlName="materia">
      @for (materia of listaMaterias; track materia.id) {
      <ng-option [value]="materia.id">{{ materia.nome }}</ng-option>
      }
    </ng-select>
  </div>

  <div>
    <label for="aluno">Nome do Aluno</label>
    <ng-select [(ngModel)]="aluno" formControlName="aluno">
      @for (aluno of listaAlunos; track aluno.id) {
      <ng-option [value]="aluno.id">{{ aluno.nomeCompleto }}</ng-option>
      }
    </ng-select>
  </div>

  <div>
    <label for="avaliacao">Nome da Avaliação</label>
    <input
      type="text"
      name="avaliacao"
      id="avaliacao"
      formControlName="avaliacao"
    />
  </div>

  <div>
    <label for="data">Data da Avaliação</label>
    <input type="date" name="data" id="data" formControlName="data" />
  </div>

  <div>
    <label for="nota">Nota</label>
    <input type="number" name="nota" id="nota" formControlName="nota" />
  </div>

  <div class="botoes">
    <button mat-flat-button type="button" (click)="cancelar()">
      <mat-icon>close</mat-icon>Cancelar
    </button>
    <button mat-flat-button type="submit" [disabled]="!formNota.valid">
      <mat-icon>check</mat-icon>
      {{ !idNota ? "Salvar Nota" : "Salvar Alterações" }}
    </button>
  </div>
</form>
