<div class="titulo">
  <h2>{{ !idAluno ? "Cadastro" : "Edição" }} de Aluno</h2>
  <div class="botoes">
    <button
      mat-flat-button
      type="button"
      [disabled]="!idAluno"
      (click)="habilitarEdicao()"
    >
      <mat-icon>edit</mat-icon>
      Editar
    </button>
    <button
      mat-flat-button
      type="button"
      [disabled]="!idAluno"
      (click)="excluirAluno(formAluno.value)"
    >
      <mat-icon>delete</mat-icon>
      Excluir
    </button>
  </div>
</div>
<form [formGroup]="formAluno" (ngSubmit)="submitForm()">
  <div>
    <label for="nome">Nome Completo</label>
    <input type="text" name="nome" id="nome" formControlName="nomeCompleto" />
  </div>

  <div>
    <label for="nascimento">Data de Nascimento</label>
    <input
      type="date"
      name="nascimento"
      id="nascimento"
      formControlName="nascimento"
    />
  </div>

  <div>
    <label for="naturalidade">Naturalidade</label>
    <input
      type="text"
      name="naturalidade"
      id="naturalidade"
      formControlName="naturalidade"
    />
  </div>

  <div>
    <label for="genero">Gênero</label>
    <select name="genero" id="genero" formControlName="genero">
      <option *ngFor="let genero of generos | keyvalue" [value]="genero.value">
        {{ genero.value }}
      </option>
    </select>
  </div>

  <div>
    <label for="cpf">CPF</label>
    <input type="text" name="cpf" id="cpf" formControlName="cpf" />
  </div>

  <div>
    <label for="rg">RG com Órgão Expeditor</label>
    <input type="text" name="rg" id="rg" formControlName="rg" />
  </div>

  <div>
    <label for="telefone">Telefone</label>
    <input
      type="tel"
      name="telefone"
      id="telefone"
      formControlName="telefone"
    />
  </div>

  <div>
    <label for="email">E-mail</label>
    <input
      type="email"
      name="email"
      id="email"
      autocomplete="username"
      formControlName="email"
    />
  </div>

  <div>
    <label for="senha">Senha</label>
    <input
      type="password"
      name="senha"
      id="senha"
      autocomplete="current-password"
      formControlName="senha"
    />
  </div>

  <div>
    <label for="cep">CEP</label>
    <input
      type="text"
      name="cep"
      id="cep"
      formControlName="cep"
      (blur)="buscarCep()"
    />
  </div>
  <div>
    <label for="localidade">Cidade</label>
    <input
      type="text"
      name="localidade"
      id="localidade"
      formControlName="localidade"
    />
  </div>
  <div>
    <label for="uf">Estado</label>
    <input type="text" name="uf" id="uf" formControlName="uf" />
  </div>
  <div>
    <label for="logradouro">Logradouro</label>
    <input
      type="text"
      name="logradouro"
      id="logradouro"
      formControlName="logradouro"
    />
  </div>
  <div>
    <label for="numero">Número</label>
    <input type="text" name="numero" id="numero" formControlName="numero" />
  </div>
  <div>
    <label for="complemento">Complemento</label>
    <input
      type="text"
      name="complemento"
      id="complemento"
      formControlName="complemento"
    />
  </div>
  <div>
    <label for="bairro">Bairro</label>
    <input type="text" name="bairro" id="bairro" formControlName="bairro" />
  </div>
  <div>
    <label for="referencia">Ponto de Referência</label>
    <input
      type="text"
      name="referencia"
      id="referencia"
      formControlName="referencia"
    />
  </div>

  <div>
    <label for="turmas">Turmas</label>
    <ng-select
      [items]="listaTurmas"
      bindLabel="nomeTurma"
      bindValue="id"
      labelForId="turmas"
      [multiple]="true"
      placeholder="Selecione..."
      formControlName="turmas"
    >
    </ng-select>
  </div>

  <div class="botoes">
    <button mat-flat-button type="button" (click)="cancelar()">
      <mat-icon>close</mat-icon>Cancelar
    </button>
    <button mat-flat-button type="submit" [disabled]="!formAluno.valid">
      <mat-icon>check</mat-icon>
      {{ !idAluno ? "Salvar Aluno" : "Salvar Alterações" }}
    </button>
  </div>
</form>
